header {
  position         : relative;
  padding          : 12px;
  background-color : rgb(82,185,217);
}

header::after {
  content          : "";
  position         : absolute;
  height           : 8px;
  width            : 100%;
  bottom           : -8px;
  left             : 0;
  background-image : url("/static/banner-triangles.png");

}

#logo {
  color       : rgb(196,38,51);
  font-size   : 26pt;
  font-style  : italic;
  font-weight : bold;
}

#header-content-wrapper {
  display     : flex;
  align-items : center;
  max-width   : 1000px;
  margin      : auto;
}

/* #header-content-wrapper */ #logo {
  flex       : 1;
  text-align : left;
}

/* -------------------------------------------------------------------------------- */

#main-footer {
  margin-top : 100px;
  padding    : 10px;
  text-align : right;
  color      : rgb(220,220,220);
  background : rgb(70,70,70);
}

#main-footer a {
  color : rgb(155,155,155);
}

#main-footer a:hover {
  color : rgb(255,255,255);
}

#main-footer {
  font-family: monospace;
}