body {
  background-color  : rgb(132,220,248);
  background-image  : url("/static/background-pixels.png");
  background-repeat : repeat;
}

main {
  width  : 1000px;
  margin : auto;
}

a { color: rgb(0,179,168); }
a:hover,
a:active{ color: rgb(0,200,255); }

/* ------------------------------------------------------------------------- */

#agora-owl {
  position : relative;
  top      : -160px;
  z-index  : 1;
}

#agora-owl img {
  position : absolute;
  top      : -25px;
  left     : 200px;
  z-index  : 4;
}

#agora-owl::after {
  content    : "";
  position   : absolute;
  top        : -50px;
  left       : 350px;
  background : url("/static/speech-bubble.png");
  width      : 315px;
  height     : 144px;
  z-index    : 5;
}

#agora-owl span {
  position: absolute;
  top: -18px;
  left: 410px;
  z-index: 6;
  width: 250px;
  font-size: 18px;
  font-weight: bold;
  font-style: italic;
  text-align: center;
}

#iframe-wrapper {
  margin-top     : 160px;
  position       : relative;
  width          : 100%;
  height         : 0;
  padding-bottom : 56.25%;
}

#iframe-wrapper iframe {
  position     : absolute;
  top          : 0;
  left         : 0;
  width        : 100%;
  height       : 100%;
  border-width : 11px;
  border-style : solid;
  border-color : rgb(255,255,255);
}

/* ------------------------------------------------------------------------- */

#sign-up-and-learn-more {
  display     : flex;
  align-items : flex-start;
}

#sign-up,
#learn-more {
  margin : 14px;
  flex: 1;
}

/* ------------------------------------------------------------------------- */

#learn-more a {
  font-size : 22px;
}

#social {
  display         : flex;
  width           : 100%;
  margin-top      : 20px;
  padding         : 30px 10px;
  align-content   : space-around;
  justify-content : center;
  box-shadow      : 0 20px 30px -35px rgb(0,0,0), 0 -20px 30px -35px rgb(0,0,0);
}

#social a {
  margin    : 10px 15px;
  padding   : 10px;
  color     : rgb(255,255,255);
  opacity   : 0.8;
  font-size : 28px;
}

#social a:hover,
#social a:active {
  opacity : 1;
  cursor  : pointer;
}
