#sign-up {
  background    : rgb(243,243,243);
  border-radius : 8px;
  padding-top   : 40px;
}

#sign-up fieldset {
  padding: 10px 40px;
}

#or {
  display    : block;
  text-align : center;
}

#sign-up-with-our-form {
  padding: 20px;
}

#sign-up button {
  display       : block;
  width         : 100%;
  background    : rgb(255,255,255);
  margin        : 10px auto;
  padding       : 10px;
  color         : rgb(0,179,168);
  border-radius : 3px;
  text-align    : center;
  font-weight   : bold;
}

#sign-up button:hover,
#sign-up button:active {
  background    : rgb(0,179,168);
  color         : rgb(255,255,255);
  cursor        : pointer;
}

#sign-up input {
  text-align    : left;
  width         : 100%;
  margin        : 6px auto;
  padding       : 4px;
  background    : rgb(255,255,255);
  border-radius : 3px;
}

#sign-up-name {
  display : flex;
}

#sign-up-name input {
  flex  : 1;
  width : calc(100% - 6px);
}

#sign-up-name div:nth-child(2) {
  text-align: right;
}

/* #sign-up #sign-up-create-button {
  font-size : 24px;
  padding   : 20px 10px;
} */

#sign-up #already-have-an-account {
  background    : rgb(220,220,220);
  margin-top    : 20px;
  padding       : 20px;
  border-radius : 0 0 8px 8px;
  text-align    : right;
}
