<footer id="main-footer">
    made with &lt;3 by foxyjacob (<a href="https://github.com/foxyjacob/agora" target="_blank">view on github</a>) <a href="https://github.com/foxyjacob" class="icon-github" target="_blank"></a>
</footer>
