<header id="main-header">
    <div id="header-content-wrapper">
        <span id="logo">Agora</span>
        <a href="/projects/agora/login" class="account-action">Login</a>
        <a href="/projects/agora/join" class="account-action">Register</a>
    </div>
</header>
