<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <title>{% block title %}Agora{% endblock %}</title>
    </head>

    <body>
        {% block body %}
            {% block header %}
                <header>

                </header>
            {% endblock %}
            <main>
                {% block main %}

                {% endblock %}
            </main>
            {% block footer %}
                <footer>

                </footer>
            {% endblock %}
        {% endblock %}
    </body>
</html>
