<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <title>{% block title %}Agora{% endblock %}</title>
        <style>
            {% block defaultStyles %}
                {% include "styles/normalize.css" %}
                {% include "styles/header-footer.css" %}
            {% endblock %}
            {% block styles %}{% endblock %}
        </style>
    </head>

    <body>
        {% block body %}
            {% include "includes/header.html.njk" %}
            <main>
                {% block main %}{% endblock %}
            </main>
            {% include "includes/footer.html.njk" %}
        {% endblock %}
    </body>
</html>
